* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.fontAvengero {
	font-family: 'Avengero Disassembled', sans-serif;
} 
.fontThanos {

}
.fontIronMan {

}


.flex {
	display: flex;
	justify-content: center;
}

.m-lr-auto {
	margin-right: auto;
	margin-left: auto;
}

.container {
	/*DA CHIEDERE SE HA SENSO METTERLO*/
}



.mainTitle {
	/*flex-direction: column; CHIEDERE SE FLEX DIRECTION VA MESSO O NO, PERCHE SENZA NON CAMBIA NIENTE*/ 
	width: 61.1vh;
}
.title {
	font-size: 5.85vh;
	color: #A72A2A;
	text-shadow: 0.19vh 0 #7E7070, -0.19vh 0 #7E7070, 0 0.19vh #7E7070, 0 -0.19vh #7E7070,
             0.19vh 0.19vh #7E7070, -0.19vh -0.19vh #7E7070, 0.19vh -0.19vh #7E7070, -0.19vh 0.19vh #7E7070;
	margin-top: -2.2vh;

}
.titleImage {
	position: relative;
	width: 17.1vh;
	height: 9.2vh;
}


.trisTable {
	height: 35.15vh;
	width: 35.15vh;
	margin-top: 16.4vh;
}
.trisLink {
}

.trisLogo {
	width: 35.15vh;
	margin-top: 28.3%;
}
.trisString {
	width: 35.15vh;
	position: relative;
	transform: translateY(-78%); CAPIRE BENE QUESTA COSA DEL -78%. BISOGNA CAPIRE DA DOVE ESCE IL 78%*/
}